.container {
  display: grid;
  place-items: center;
  padding: 40px;
}

.profile {
  padding: 40px;
  background: #ffc5c4;
  border-radius: 50%;
}

.profile > img {
  width: 200px;
}

.container > h1 {
  margin: 50px;
  font-size: 2em;
  text-align: center;
  width: 550px;

  line-height: 200%;
}

.name {
  color: black;
  background: lavender;
  border-radius: 5px;
  padding: 4px;
}

.dev {
  color: black;
  background: lightgoldenrodyellow;
  border-radius: 5px;
  padding: 4px;
}

.location {
  color: black;
  background: lightpink;
  border-radius: 5px;
  padding: 4px;
}

.footer {
  display: grid;
  place-items: center;
}
